<div id="show_form">
	<p id="notice"><%= notice %></p>

	<p id="order">
	  <strong>Restaurant ID:</strong>
	  <%= Order.search(@order.name)[0] %>
	</p>
	<br>
	<br>
	<br>
	<p id="order">
	  <strong>Price:</strong>
	  <%= Order.search(@order.name)[1] %>
	</p>
	<br>
	<br>
	<br>
	<%= link_to 'Edit', edit_order_path(@order) %> |
	<%= link_to 'Back', orders_path %>
</div>