<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @price.restaurant_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @price.amount %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
